.message_title{
    color: #333;
    font-size: 34rpx;
    margin: 60rpx 0;
    padding-left: 24rpx;
}
.message_title view{
    color: #999;
    display: inline;
}
.message_title_tgl{
    color: #333;
    font-size: 34rpx;
    padding-left:24rpx;
    margin: 60rpx 0 30rpx;
}
